body {
    background-image: url("coffee.jpg");
    
    background-repeat: no-repeat;
    background-size: 1550px 800px;
   }

h2{
       color: tan;
       font-size:  80px;
       left: 0;
       line-height: 0px;
       margin-top: -100px;
       position: absolute;
       text-align: center;
       top: 50%;
       width: 100%;
       text-shadow:2px 2px 8px #5e381d;
}



   h1{
	color: saddlebrown;
	font-size: 200px;
	left: 0;
	line-height: 200px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
    text-shadow:2px 2px 8px #5e381d;
   
}
.koopi{
	color: #331403;
	font-size: 40px;
		left: 0;
	line-height: 0px;
	margin-top: 160px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
    text-shadow:2px 2px 8px #140c06;
	 
}

.koopi:hover {
	color: brown;
  }
  .koopi:link {
	text-decoration: none;
  }


  p{
	font-size: 40px;
		left: 0;
	line-height: 0px;
	margin-top: 130px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
	color: saddlebrown;
    text-shadow:2px 2px 8px #5e381d;
}




button{
	font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(173, 117, 5);
    text-decoration: none;
}


li, a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(252, 250, 249);
    text-decoration: none;
}




header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10% ;
}

.logo{
    width: min-content;
    height: min-content;
    cursor: pointer;
    margin-right: auto;

}
.nav__links{
    list-style: none;
}



.nav__links li{

    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{

    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{

   

        color: rgb(255, 187, 0);
        text-decoration-line: underline;
        
}
.nav__links li a ::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;
    

   transform: scalex(0);
}
.nav__links li a:hover::before,.nav__links li a:focus::before{
    

    transform: scalex(1);
}
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #dbaf91;
    border: none;
    border-radius: 50px;
    cursor: pointer; 
    transition: all 0.3s ease 0s;

}

button:hover{
    background-color: #5e381d;
}

button::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--border-size);
    background-color: var(--accent-color);
    transition: transform 300ms ease-in-out;


   transform: scalex(0);
}
 button:hover::before,button:focus::before{
    

    transform: scalex(1);
}

.contact{
	color: #fff;
font-size: x-large;
text-align: center;

}

html{
    scrollbar-width: thin;
}
.logo{
    line-height: 0px;
       margin-top: -330px;
       position: absolute;
       text-align: right;
       top: 50%;
       width: 6%;
       margin-right: 1200px;
       opacity: 80%;
}

input[type=number]{
 max-width: 20px;

}
.mem{
   
	font-size: 35px;
	left: 0;
	line-height: 20px;
	margin-top: -85px;
    text-shadow: #140c06;
	text-indent: 0cqh;
	width: 90%;
    text-shadow:2px 2px 8px #5e381d;
}
.text{
    font-size: 30px;
	left: 0;
	line-height: 20px;
	margin-top: -50px;
	color: #331403;
	width: 78%;
    text-shadow:2px 2px 8px #5e381d;
}
.text1{
    font-size: 30px;
	left: 0;
	line-height: 20px;
	margin-top: -12px;
	color: #331403;
	width: 77%;
    text-shadow:2px 2px 8px #5e381d;
}

.text3{
    font-size: 30px;
	left: 0;
	line-height: 20px;
	margin-top: 22px;
	color: #331403;
	width: 75%;
    text-shadow:2px 2px 8px #5e381d;
}
.text4{
    font-size: 25px;
	left: 0;
	line-height: 20px;
	margin-top: 19px;
	color: #331403;
	width: 103%;
    text-shadow:2px 2px 8px #5e381d;
}
.text5{
    font-size: 30px;
	left: 0;
	line-height: 20px;
	margin-top: 50px;
	color: #331403;
	width: 96%;
    text-shadow:2px 2px 8px #5e381d;
}
.memx{
   
	font-size: 35px;
	left: 0;
	line-height: 20px;
	margin-top: -100px;
    text-shadow: #140c06;
	text-indent: 0cqh;
	width: 100;
    text-shadow:2px 2px 8px #5e381d;
}
.text11{
    font-size: 30px;
	left: 0;
	line-height: 20px;
	margin-top: -12px;
	color: #331403;
	width: 84%;
    text-shadow:2px 2px 8px #5e381d;
}
.text12{
    font-size: 30px;
	left: 0;
	line-height: 20px;
	margin-top: -12px;
	color: #331403;
	width: 79%;
    text-shadow:2px 2px 8px #5e381d;
}
footer{

    background-color: black;
    position: relative;
    height: 50px;
   
    clear: both;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }